{% extends "SezioneSpaccio/base.html" %} {% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Rimuovi il Libro</legend>
            <h2>Sei sicuro/a di voler rimuovere il libro?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Rimuovi</button>
            <a
                class="btn btn-outline-secondary"
                href="{% url 'home-page' %}"
                >Cancel</a
            >
        </div>
    </form>
</div>
{% endblock content %}
